name: CI
on: [push]
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest, windows-latest, macOS-latest] # Make builds for all
        os: [ubuntu-latest]
    
    steps:
    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        go-version: 1.12
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Install packages
      run: |
        sudo apt-get update
        sudo apt-get install -y libvulkan-dev libsdl2-dev build-essential make libgtk-3-dev libgtk2.0-dev

    - name: Get dependencies
      run: |
        go get github.com/xlab/c-for-go
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi
        
    - name: Build
      run: make all
