name: CI
on: [push]
jobs:
  macos-build:
    name: MacOS Build
    runs-on: macOS-latest
    strategy:
      matrix:
        go: [1.11, 1.12, 1.13]
    
    steps:
    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Install packages
      run: |
        brew install pkg-config
        brew install vulkan-headers
        brew install sdl2
        go get -u github.com/gobuffalo/packr/packr

    - name: Build
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        make all

  ubuntu-build:
    name: Ubuntu Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [1.11, 1.12, 1.13]
    
    steps:
    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Install packages
      run: |
        sudo apt-get update
        sudo apt-get install -y libvulkan-dev libsdl2-dev build-essential make libgtk-3-dev libgtk2.0-dev
        go get -u github.com/gobuffalo/packr/packr

    - name: Build
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        make all
